<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-underline navbar-nav">
        @let menuItems = [
          { link: '/', label: 'Accueil', isDropdown: false },
          { link: '/auth', label: 'Authentification', isDropdown: false },
          { link: '/adresse', label: 'Adresse', isDropdown: true, items: [
            { link: '/adresse', queryParams: { ville: 'Bordeaux', cp: '33000' }, label: 'Bordeaux' },
            { link: '/adresse', queryParams: { ville: 'Saint-Etienne', cp: '42000' }, label: 'Saint-Étienne' },
            { link: '/adresse', queryParams: { ville: 'Marseille', cp: '13000' }, label: 'Marseille' },
          ] },
          { link: '/pays', label: 'Pays - Villes', isDropdown: false },
          { link: '/personne', label: 'Personne', isDropdown: false },
          { link: '/clavier', label: 'Clavier', isDropdown: false },
          { link: '/calcul', label: 'Calcul', isDropdown: true, items: [
            { link: ['/calcul', 'plus'], queryParams: { value1: '10', value2: '5' }, label: '10 + 5' },
            { link: ['/calcul', 'moins'], queryParams: { value1: '10', value2: '5' }, label: '10 - 5' },
            { link: ['/calcul', 'fois'], queryParams: { value1: '10', value2: '5' }, label: '10 * 5' },
            { link: ['/calcul', 'div'], queryParams: { value1: '10', value2: '5' }, label: '10 / 5' },
            { link: ['/calcul', 'div'], queryParams: { value1: '10', value2: '0' }, label: '10 / 0' },
          ] },
          { link: '/tableau/0', label: 'Tableau', isDropdown: false },
          { link: '#', label: 'Formulaires', isDropdown: true, items: [
            { link: '/formulaire-simple', label: 'Formulaire Simple', isDropdown: false },
            { link: '/formulaire-reactif', label: 'Formulaire Reactif', isDropdown: false },
            { link: '/formulaire-builder', label: 'Formulaire Builder', isDropdown: false },
            { link: '/formulaire-signal', label: 'Formulaire Signal', isDropdown: false },
          ] },
          { link: '/comment', label: 'Comment', isDropdown: false },
          { link: '/calculette', label: 'Calculette', isDropdown: false },
          { link: '/primeur', label: 'Primeur', isDropdown: false },
          { link: '/parent', label: 'Parent', isDropdown: false },
          { link: '/pere', label: 'Père/fils', isDropdown: false },
          { link: '/container', label: 'Container', isDropdown: false },
          { link: '/tchat', label: 'Tchat', isDropdown: false },
          { link: '/about', label: 'À propos', isDropdown: true, items: [
            { link: '/about', label: 'À propos', isDropdown: false },
            { link: '/stagiaire', queryParams: { lastname: 'Mitroglou', firstname: 'Jean' }, label: 'Stagiaire', isDropdown: false },
            { link: '/observable', label: 'Observable', isDropdown: false },
            { link: '/subject', label: 'Subject', isDropdown: false },
            { link: '/computed', label: 'Valeurs calculées', isDropdown: false },
           { link: '/chat', label: 'Chat', isDropdown: false },
          ] },
        ];    
        @for (item of menuItems; track item.link) {
          @if (!item.isDropdown) {
            <li class="nav-item">
                <a [routerLink]="item.link" class="nav-link" [class.active]="isActive(item.link)">{{ item.label }}</a>
            </li>
          }@else {
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ item.label }}
              </a>
              <ul class="dropdown-menu">
                @for (subItem of item.items; track subItem.label) {
                  <li><a class="dropdown-item" [routerLink]="subItem.link" [queryParams]="subItem.queryParams ? subItem.queryParams : null" [class.active]="isActive(subItem.link, subItem.queryParams)">{{ subItem.label }}</a></li>
                }
              </ul>
            </li>
          }
        }
      </ul>
    </div>
  </div>
</nav>
